.centered {
  text-align: center;
  color: white;
  textsize: 100;
}

/*
  * {
margin: 0;
padding: 0;
box-sizing: border-box;
}
/*
body {
overflow: hidden;
height: 100%;
}


  p {
color: white;
textSize: 150;
}

/*     <style media="screen">
      postion: relative;
    </style> /*
