.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body.xmaspresent{
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
      0deg,
      rgba(black, 0.15),
      rgba(black, 0.15) 1px,
      transparent 1px,
      transparent 2px
    );
    pointer-events: none;
  }
}
::selection {
  background: #0080FF;
  text-shadow: none;
}
pre {
  margin: 0;
}

  * {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
overflow: hidden;
height: 100%;
}

p {
color: white;
font-size: 2vw;
text-align: center;
}

h1 {
  color: white;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#gif {
  display: relative;
  align-items: center;
  justify-content: center;
}

#bodygif {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 1vw;
}

.button6{
 display:inline-block;
 padding:0.7em 1.4em;
 margin:0 0.3em 0.3em 0;
 border-radius:0.15em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 text-transform:uppercase;
 font-weight:400;
 color:#FFFFFF;
 background-color:#03A062;
 box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
 text-align:center;
 position:relative;
}
a.button6:active{
 top:0.1em;
}
@media all and (max-width:30em){
 a.button6{
  display:block;
  margin:0.4em auto;
 }
}
